<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageSuite\PageCacheWarmer\Api\UrlRepositoryInterface"
                type="MageSuite\PageCacheWarmer\Model\WarmupQueue\UrlRepository" />
    <preference for="MageSuite\PageCacheWarmer\Api\Data\WarmupQueue\UrlInterface"
                type="MageSuite\PageCacheWarmer\Model\WarmupQueue\Url" />

    <type name="\Magento\Framework\App\Cache\TypeList">
        <plugin name="regenerate_warmup_urls_after_flush_cache" type="MageSuite\PageCacheWarmer\Plugin\RegenerateWarmupUrls" sortOrder="1" />
    </type>

</config>
