<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="creativestyle_catalog_product_save_after" instance="MageSuite\PageCacheWarmer\Observer\AddProductToWarmer"/>
    </event>
    <event name="cms_page_save_after">
        <observer name="cache_warmup_cms_save" instance="MageSuite\PageCacheWarmer\Observer\AddCmsToWarmer"/>
    </event>
    <event name="catalog_category_save_after">
        <observer name="cache_warmup_cms_save" instance="MageSuite\PageCacheWarmer\Observer\AddCategoryToWarmer"/>
    </event>
    <event name="adminhtml_cache_flush_all">
        <observer name="cache_warmup_flush_cache_regenerate" instance="\MageSuite\PageCacheWarmer\Observer\CacheFlush" />
    </event>
    <event name="adminhtml_cache_flush_system">
        <observer name="cache_warmup_flush_cache_regenerate" instance="\MageSuite\PageCacheWarmer\Observer\CacheFlush" />
    </event>
</config>