<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="MageSuite_PageCacheWarmer" setup_version="1.1.6">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Store"/>
            <module name="Magento_UrlRewrite"/>
            <module name="Magento_Eav"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Cms"/>
        </sequence>
    </module>
</config>
