<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_group_save_after">
        <observer name="cache_warmup_customer_group_save" instance="MageSuite\PageCacheWarmer\Observer\AddCustomerAfterCustomerGroupIsCreated"/>
    </event>
</config>