<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_cache_flush_all">
        <observer name="cache_warmup_cache_flush" instance="Creativestyle\MageSuite\PageCacheWarmer\Observer\CacheFlush"/>
    </event>
    <event name="adminhtml_cache_flush_system">
        <observer name="cache_warmup_cache_flush_system" instance="Creativestyle\MageSuite\PageCacheWarmer\Observer\CacheFlush"/>
    </event>
</config>